@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin: 0px;
}

.timer-section form {
    display: flex;
    flex-direction: column;
}

.timer-section form>div {
    display: flex;
    align-items: center;
}

.timer-section input {
    border: none;
    width: 100%;
    font-size: 4rem;
    text-align: center;
    background-color: transparent;
}

.timer-section p {
    font-size: 4rem;
}

.timer-section label {
    font-size: 2rem;
    text-align: center;
}

.timer-section button {
    padding: 3%;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    background-color: black;
    color: white;
}

.timer-section button:hover {
    background-color: rgb(28, 28, 28);
}

#resultText {
    font-size: 2rem;
    text-align: center;
    color: white;
}

#btn-restart {
    display: none;
    background-color:lightgreen;
}
#btn-restart:hover {
    background-color:rgb(108, 224, 108);
}

.bodyResult {
    background-color: black;
}

#btn-pauseW {
    display: none;
    background-color:lightpink;
}
#btn-pauseW:hover {
    background-color:rgb(255, 162, 176);
}

#btn-restartW {
    display: none;
    background-color:lightgreen;
}
#btn-restartW:hover {
    background-color:rgb(108, 224, 108);
}